@charset "utf-8";
/* CSS Document */


body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	background-color:#DED0D1;
	margin-left: 0px;
	margin-right: 0px;
}
h{font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";}
/*Navigator part*/
nav{
	text-transform: uppercase;
	background-color:#F7F397;
	position: relative;
	bottom: 10px;
	padding-bottom: 12px;
}
.nav-logo{
	position: absolute;
	left: 50px;
	height: 70px;
	width: 50px;
}
.nav-logo-text{
	display: inline-block;
	position: absolute;
	top:45px;
	left: 12px;
	color:#69011E;
	font-weight: bold;
}
.nav-content{
	position: relative;
	display: inline-block;
	margin-left: 800px;
	margin-top: 10px;
}
a{
	color:#959595;
list-style-type: none;
}

a:hover{
	color:#FC94A4;
}
li{
	display: inline-block;
margin: 10px;
}
.nav-content li a{
	text-decoration: none;
}

/*first section*/
.big-logo{
	position: relative;
	bottom: 10px;
	height: 400px;
}

.logo-text{
	position: relative;
	bottom: 60px;
	text-transform: uppercase;
	font-size: 70px;
	color:#653A3A;
}

hr{
	border-style: solid;
	border-radius: 15px;
	border-color: #F1C550;
	width: 50%;
	background-color: #F1C550;
	position: relative;
	bottom: 100px;
}

/*second section*/
.second-section{
	position: relative;
	bottom: 60px;
	background-color: #FFF9E0;
	text-align: left;
	padding: 30px 10px;
	/*margin: 0px 0px;*/
}

.form-header{
	text-transform: uppercase;
	text-align: center;
	color: #A1C45A;
}
form{
	border-style: solid;
	border-color: darkgray;
	border-radius: 2px;
	margin: 0px 0px;
}
.c1{
	margin-left: 300px;
}
about{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:#595252;
}

label{
	color: #EA4C4C;
}
.option-text,span{
	color: #A1C45A;
}
input[type=number]{
	width: 5%;
	margin: 15px 0px 15px 20px;
}
input:hover{
	border-color: green;
}

input[type=submit]{
	letter-spacing: 2px;
	color: #A1C45A;
	background-color: white;
	border-color: #A1C45A;
	padding: 16px 50px;
	margin-radius:4px 2px;
	border-style: solid;
	position: relative;
	left: 43%;
}


#foot{
	display: inline-block;
	text-transform: uppercase;
	color:#5A5A5A;
	font-size: 13px;
}
.im{
	height: 20px;
    width: 20px;
}

.col-2{
	display: inline-block;
margin: 12px;
}

